# Flask framework and related dependencies
Flask==3.1.0
Werkzeug==3.1.3
Jinja2==3.1.4
MarkupSafe==3.0.2
itsdangerous==2.2.0
blinker==1.9.0

# HTML parsing
beautifulsoup4==4.12.3
soupsieve==2.6

# HTTP requests
requests==2.32.3
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
urllib3==2.2.3

# Deployment
gunicorn==21.2.0

pip install -r requirements.txt

git add requirements.txt
git commit -m "Added requirements.txt"
git push origin main


